.points {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #10607A;
    padding-top: 80px;
}

.points_content {
    width: 75%;
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 16px;
    flex-direction: column;
}

.points_content h1 {
    font-size: 3.5em;
    color: #003c5a;
    margin: auto;
    text-align: center;
}

.points_content h2 {
    font-size: 2em;
    color: #003c5a;
    margin: auto;
    text-align: center;
}


.profile {
    flex-shrink: 0;
    border-radius: 50%;
    position: relative;
    left: 10rem;
    border: 5px solid rgb(255, 255, 255);
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.points_header {
    display: flex;
    justify-content: space-between;
}

.points_transactions {

}

.points_transactions h1 {
    margin: auto;
    text-align: left;
}

.overflow_background {
    background-color: #10607a;
    height: 100vh;
}
