.featured {
    width: 100%;
    display: flex;
    justify-content: center;
}

.featured_content {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-content: center;
    gap: 50px;
}

.featured_column {
    flex: 1;
    color: white;
    font-weight: lighter;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.featured_column h1 {
    color: white;
    font-size: 4em;
    margin: 0;
    text-align: center;
}

.featured_column p {
    color: white;
    font-size: larger;
}

.featured_image {
    border: 2px white solid;
    padding: 15px;
    background-color: rgb(16, 96, 122);
    margin: auto;
}

@media (max-width: 828px) {
    .featured_content {
        flex-direction: column;
    }

    .featured_column p {
        text-align: center;
    }

    .featured_column h1 {
        text-align: center;
    }
}