.schedule {
    width: 100%;
    display: flex;
    justify-content: center;
}

.schedule_content {
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.schedule_column {
    flex: 1;
    text-align: center;
    margin: 20px;
}

.schedule_column h1 {
    color: white;
    font-size: 5em;
    margin: auto;
}

.schedule_column p {
    color: white;
    font-size: x-large;
}

.schedule_column + .schedule_column {
    border-left: 1px solid white;
}