.bio {
    width: 100%;
    display: flex;
    justify-content: center;
}

.bio_content {
    display: flex;
    width: 60%;
    justify-content: space-between;
    gap: 50px;
}

.bio_column {
    flex: 1;
    font-size: x-large;
    color: rgb(16, 96, 122);
    font-weight: lighter;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.bio_image {
    border: 5px rgb(16, 96, 122) solid;
}