.container {
    background-color: #74A9BC;
    color: white;
    min-height: 100vh;
    padding: 0;
    align-items: right;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    display: flex;
    overflow: hidden;
}

.hero {
    text-align: center;
    justify-content: space-between;
    margin-bottom: 40px;
    margin: 0 6vh;
    align-items: center;
    width: 100%;
    flex: 1;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    padding-top: 50px;
    display: flex;
    font-size: 10vh;
}

.subtitle {
    font-size: 1.2rem;
    margin-top: 14px;
    display: flex;
    text-align: left;
    max-width: 600px;
    padding: 0;
    width: 100%;
    font-weight: bold;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .subtitle {
        padding-right: 4vh;
    }
}

.subtitleOne {
    font-size: 1.2rem;
    margin-top: 14px;
    color: #10607A;
    font-weight: bold;
    display: flex;
    font-weight: bold;

}

.rewards {
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 15vh;
}

.reward {
    text-align: center;
    margin: 0 10px;
    flex: 1;
    max-width: 250px;

}

@media (max-width: 768px) {
    .rewards {
        flex-direction: column;
        align-items: center;
        gap: 3vh;
    }

    .reward {
        max-width: 90%;
        text-align: center;
    }
}

.num {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3em;
    height: 3em;
    margin: 0 auto 20px;
}

.subnum {
    font-size: 1rem;
    line-height: 1.5;
    font-size: 2.5vh;
}

.subnumOne {
    font-size: 1rem;
    line-height: 1.5;
    color:#10607A;
    font-size: 4vh;
}


.rSection {

    text-align: center;
    padding: 50px 20px;
    background-color: white;
}

.rSection h1 {
    color:#10607A;
    padding: 1vh;
    margin-bottom: 30px;
}

.rContainer {
    display: grid;
    gap: 50px;
    max-width: 1000px;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.r:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(16, 96, 122, 0.6);
}

.r {
    background: transparent;
    border-radius: 10px;
    border: 2px solid #005f73;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.r h3 {
    font-size: 1.2rem;
    color: #005f73;
    margin: 0 auto;
}

.r p {
    font-size: 1rem;
    color: #005f73;
    padding-bottom: 15px;
}

.medal {
    height: auto;
    margin: 0 auto;
}

@media (max-width: 690px) {
    .medal {
        margin: 0 auto;
    }
}

.logo {
    width: 100%;
    height: auto;
    top: -9%;
    right: -40%;
    position: absolute;
    z-index: 1;
    object-fit: contain;
    
    
}

@media (max-width: 768px) {
    .logo {
        width: 80%;
    }
}


