.home {
    width: 100%;
    height: 100%;
}

.section_header {
    background-color: #74a9bc;
    padding: 5px 0 5px 0;
}

.section_header div {
    border-top: white 10px solid;
    border-bottom: white 10px solid;
}