.@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');

.londrina {
  font-family: 'Londrina Solid', sans-serif;
}

.container {
    width: 100%;
    margin: 20px auto;
}

.about {
    background-color: white;
    padding: 40px;
    text-align: left;
    margin-bottom: 10px; 
}
.about h1 {
    color: #10607a;
    font-size: 64px;
    font-weight: bold;
    margin: 10px 0;
}
.about p {
    color: #729d82;
    font-size: 24px;
    width: 50%; 
    margin-bottom: 20px; 
}

.contentBox {
    padding: 20px;
    margin-bottom: 40px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contentBox h2 {
    font-size: 55px;
    font-weight: bold;
    margin: 10px 0;
}
.contentBox p {
    font-size: 24px;
}
.icon {
    width: 20%;
}

.farmToTable {
    background-color: #10607a;
    color: white;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    outline: 6px solid #10607a;
}
.farmToTable .text {
    text-align: left;
}

.sustainablePractices {
    background-color: #74a9bc;
    color: white;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    outline: 6px solid #74a9bc;
}
.sustainablePractices .text {
    text-align: right;
}

.plantBased {
    background-color: #729d82;
    color: white;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    outline: 6px solid #729d82;
}
.plantBased .text {
    text-align: left;
}

.contactSection {
    background-color: #10607a;
    padding: 10px;
    color: white;
    text-align: center;
}
.contactTitle {
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Contact Box */
.contactBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    border: 2px solid white;
    background-color: transparent;
}
.contactDetails {
    flex: 1;
    min-width: 400px;
    margin: 10px;
    font-size: 27px;
}
.contactDetailsTop {
    flex: 1;
    min-width: 600px;
    margin: 10px;
    font-size: 27px;
}
.contactSubtitle {
    font-size: 35px;
    font-weight: bold;
}

.contactFooter {
    display: flex;
    font-size: 21px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    font-weight: bold;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}
.footerColumn {
    flex: 1;
    min-width: 300px;
    margin: 10px;
}
.footerColumnMiddle p {
    line-height: 2;
}

.contactFooter a {
    color: white;
    text-decoration: underline;
}
.contactFooter a:hover {
    text-decoration: none;
}
